/* * {
border: red solid 2px;
} */

* {
    padding: 0;
    margin: 0;

}

html {
    font-size: 1rem;
}

body {
    overflow-x: hidden;
    

}


.full-container {
    
    margin-top: 5em ;
    margin-bottom: 5em ;
    width: 100%;
    
}

.content {
    margin-top: 3em;
    margin-bottom: 3em;
}

.title {
    width: 100%;
    text-align: center;
}

.selects select {
    margin-left: 15px;
}


.main-arrow-links {

    width: 123px;
}

#vol-title {
    border-bottom: 1px solid black;
}

.fa {
    font-size: 20px;
}

.main-arrow-links a {
    color: white;
    text-decoration: none;
    opacity: .3;
    transition: opacity .3s ease-in-out;
}

.main-arrow-links a:hover {
    opacity: 1;
}

h3 a {
    color: black;
    opacity: .5;
    transition: all .4s ease-in-out;
}

h3 a:hover {
    text-decoration: none;
    color: #457b9d;
    opacity: .9;
}

.carousel-container {
    width: 325px;
    max-height: 600px;
}

#new-img-src {
    width: 100%;
    max-height: 600px;
    border: black solid 2px;
}


.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
    text-decoration: none;
    /* margin-top: 275px; */
}

.volume-info {
    max-width: 300px;

}

@media screen and (max-width: 992px) {
    html {
        font-size: .8rem;
    }

    .main-arrow-links {
        height: 600px;
        width: 50px;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-y: auto;

    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: .7rem;
    }

    .carousel-container {
        width: 400px;
        max-height: 600px;
    }

    #new-img-src {
        width: 100%;
        max-height: 600px;
        border: black solid 2px;
    }

    .main-arrow-links {
        height: 600px;
        width: 30px;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: .5rem;
    }

    .carousel-container {
        width: 350px;
        max-height: 450px;
    }

    #new-img-src {
        width: 100%;
        max-height: 450px;
        border: black solid 2px;
    }

    .main-arrow-links {
        height: 450px;
        width: 10px;
    }
}
